.wrapper{
  background-image: url(new.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* .wrapper{
  background-image: url(back.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: center;
} */