.container{
  display: flex; 
  justify-content: space-around; 
}
.hero{
  display: flex;
  justify-content: space-evenly;  /* rows */
  background-color: beige;
  align-items: center;  /* coulmn */
}