body{
  background-color: rgb(206, 172, 192);
}
.h1{
  color: rgb(45, 51, 134);
  text-align: center;
  font-size: 50px;
  text-decoration: underline red wavy;
}
.heading2{
  word-spacing: 40px;
  letter-spacing: 50px;
}
.para{
  line-height: 60px;
}
.heading3{
  text-transform: lowercase;
  text-shadow: 30px -24px 12px blue;
  font-family: cursive
}